<header class="container">
    <nav class=" navbar global-header navbar-expand-lg transparent  ">
        <!-- navbar-light bg-light -->
        <img src="../../assets/images/logo.jpg" alt="viplogics" class="rounded-circle border border-success">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reach Out</a>
                </li>
            </ul>
        </div>
    </nav>

</header>







<!-- obselete Bootstrap theme code
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navigation">
        <div class="container">					
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="index.html"><h1><span>VIP</span>LOGICS</h1></a>
                </div>
            </div>
            
            <div class="navbar-collapse collapse">							
                <div class="menu">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="index.html" class="active">Home</a></li>
                        <li role="presentation"><a href="about.html">About Us</a></li>
                        <li role="presentation"><a href="services.html">Services</a></li>								
                        <li role="presentation"><a href="portfolio.html">Portfolio</a></li>
                        <li role="presentation"><a href="blog.html">Blog</a></li>
                        <li role="presentation"><a href="contact.html">Contact</a></li>						
                    </ul>
                </div>
            </div>						
        </div>
    </div>	
</nav>		 -->