.bgimg {
    background-image: url('../assets/images/bg.jpg');
}

body {
    height: 90%;
    //width: 500px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #fff;
    background-color: #fff;
    overflow-x: hidden;
}